@charset 'UTF-8';
.header-title {
    padding-top: 0px;
    height: 30px;
    border-bottom: 1px solid #797979;
}
.open {
    width: 20px;
    height: 20px;
    border: 1px solid #797979;
    border-radius: 3px;
}
.open::after {
    content:'—';
    position: relative;
    top: -2px;
    left:0;
    color: #797979;
}
.control {
    padding: 10px 0;
}
.sure {
    text-align: right;
}
.sure button {
    width: 70px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    padding: 0 10px;
    margin-right: 5px;
    font-size: 12px;
    border: 1px solid #797979;
}
.manage ul li {
    float:left;
    padding: 0 20px;
}
.manage label {
    padding: 10px;
}
.manage {
    width: 860px;
}
.content {
    /* overflow: auto; */
    min-height:600px;
}
